@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&family=Lora:ital,wght@0,500;1,400&family=Mochiy+Pop+P+One&family=Montserrat:wght@200&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand&family=Roboto:wght@100&family=Source+Sans+Pro&display=swap");
body {
  font-family: 'oswald', sans-serif;
}

.fuente-principal {
  font-weight: 400;
}

.fuente-titulos {
  font-weight: 600;
}

.fuente-titulos-bold {
  font-weight: 700;
}

.color-blanco {
  color: #FFFFFF;
}

.color-fondo {
  color: #2E2E30;
}

.color-botones {
  color: #0666C7;
}

.color-hover {
  color: #0A233D;
}

.color-botones2 {
  color: #0D4C8A;
}

.background-botones2 {
  background-color: #0D4C8A;
}

.background-botones3 {
  background-color: #033261;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2E2E30;
}

/*-------------------index.html-----------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/
.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler-icon {
  background-image: url(../imagenes/menu-nav.png);
}

.container-fluid {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#032C55), to(black));
  background-image: linear-gradient(#032C55, black);
}

.container-fluid img {
  height: 70px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.carousel .carousel-indicators button {
  background-color: #1284f7;
}

.carousel-item img {
  height: 455px;
  opacity: 65%;
}

@media (min-width: 300px) and (max-width: 768px) {
  .carousel-item img {
    height: 200px;
  }
}

.carousel-item .fuente-titulos-bold {
  font-size: 3rem;
}

.carousel-item p {
  font-size: 1.5rem;
}

.formulario .boton-enviar {
  border: none;
  border-radius: .5rem;
}

.formulario .boton-enviar:hover {
  background-color: #0A233D;
}

.header-estrenos, .contenedorPrecios .header-precios2d, .contenedorPrecios .header-precios3d, .header-salas {
  height: 5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#032C55), to(black));
  background-image: linear-gradient(#032C55, black);
}

.header-estrenos p, .contenedorPrecios .header-precios2d p, .contenedorPrecios .header-precios3d p, .header-salas p {
  font-size: 2rem;
}

.galeriaImagen {
  height: 300px;
  width: 200px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.galeriaImagen:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#032C55), to(black));
  background-image: linear-gradient(#032C55, black);
}

/*-------------------precios.html-----------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/
.contenedorPrecios .header-precios2d, .contenedorPrecios .header-precios3d {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.contenedorPrecios img {
  height: 200px;
}

.contenedor-tablas {
  padding-left: 10px;
  padding-right: 10px;
}

.contenedor-tablas img {
  height: 250px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .contenedor-tablas img {
    height: 200px;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .contenedor-tablas .sala2D {
    margin-bottom: 3rem;
  }
}

.contenedor-tablas .sala3D, .contenedor-tablas .sala2D {
  border: solid yellow;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#032C55), to(black));
  background-image: linear-gradient(black, #032C55, black);
  border-radius: .5rem;
}

.titulo-combos {
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#032C55));
  background-image: linear-gradient(black, #032C55);
}

.contenedor-carousel {
  border: solid yellow;
  border-radius: .5rem;
}

.contenedor-carousel .carousel-item img {
  height: 300px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .contenedor-carousel .carousel-item img {
    height: 200px;
    width: 100%;
  }
}

/*-------------------contacto.html-----------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/
.contenedorContacto img {
  height: 250px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .contenedorContacto img {
    height: 200px;
    width: 100%;
  }
}

.contenedorContacto h1 {
  border-radius: .5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#032C55));
  background-image: linear-gradient(black, #032C55);
}

@media (min-width: 300px) and (max-width: 600px) {
  .formulario .row {
    display: block;
  }
}

.formulario p {
  font-size: 1.5rem;
}

.formulario .boton-enviar {
  border-radius: .5rem;
  text-decoration: none;
}

.headerPromociones {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#1d1b1b));
  background-image: linear-gradient(black, #1d1b1b);
}

.headerPromociones p {
  font-size: 2rem;
}

.contenedorPromociones_itau, .contenedorPromociones_2, .contenedorPromociones_3, .contenedorCartelera .footer-pelicula {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#032C55), to(black));
  background-image: linear-gradient(black, #032C55, black);
  border-radius: .5rem;
  border: solid #e4c412;
}

.contenedorPromociones_itau header, .contenedorPromociones_2 header, .contenedorPromociones_3 header, .contenedorCartelera .footer-pelicula header {
  font-size: 2rem;
}

.contenedorPromociones_itau p, .contenedorPromociones_2 p, .contenedorPromociones_3 p, .contenedorCartelera .footer-pelicula p {
  font-size: 1.1rem;
}

.contenedorPromociones_itau img, .contenedorPromociones_2 img, .contenedorPromociones_3 img, .contenedorCartelera .footer-pelicula img {
  height: 100px;
}

/*-------------------salas.html-----------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/
.contenedor-sala2d {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), to(black));
  background-image: linear-gradient(#020202, black);
}

@media (min-width: 300px) and (max-width: 600px) {
  .contenedor-sala2d .contenido-sala2d img {
    height: 200px;
  }
}

.contenedor-sala2d .imagen-dolby img {
  height: 200px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .contenedor-sala2d .imagen-dolby img {
    height: 100px;
  }
}

.contenedor-textoSuperior {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171638), to(#141111));
  background-image: linear-gradient(#171638, #141111);
}

.contenedor-caracteristicas .sonidoDolby {
  border: solid #35cbcc;
}

.contenedorSalas img {
  height: 250px;
}

/*-------------------cartelera.html-----------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/
.contenedorCartelera img {
  height: 400px;
}

.contenedorCartelera .footer-pelicula {
  padding: .5rem;
}

/*-------------------comprar.html-----------------------------------------------------------------------

----------------------------------------------------------------------------------------------------*/
.contenidoPrincipal__comprar {
  height: 500px;
  background-image: url(../imagenes/burbujas.jpg);
  background-size: contain;
}

.contenidoPrincipal__comprar img {
  height: 300px;
}

.contenidoPrincipal__comprar .comprar {
  border: solid yellow;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#032C55), to(black));
  background-image: linear-gradient(#032C55, black);
  border-radius: .5rem;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=estilos.css.map */